<div class="row">
  <div class="col">
    <div class="card medium">
      <div class="card-image">
        <img src="{{site.url}}/images/profile_small.png">
        <span class="card-title">Geeta Vinnakota </span>
      </div>
      <div class="card-content">
        <p> I'm a web developer. This is a collection of my notes and thoughts on web development, software, programming etc  </p>
      </div>
      <div class="card-action">
        <a href="https://github.com/geetavin464">Github</a>
        <a href="https://linkedin.com/in/geetavinnakota">Linkedin</a>
      </div>
    </div>
  </div>
</div>