<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    <div class="page-content">
      <div class="row">
        <div class="col s12 m3 l3">
          {% include leftnav.html %}
        </div>
        <div class="col s12 l7">
          {{ content }}
        </div>
        <div class="col s12 l2">
          {% include rightnav.html %}
        </div>
      </div>
    </div>

    {% include footer.html %}
    {% include main.js %}
    {% include ga.html %}

    </body>
</html>